{% extends 'base.html' %} 
{% block body %}

<div class="container m-32 p-4 shadow-md rounded-md bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <h1 class="mb-6 text-green-800 text-3xl font-bold tracking-wide uppercase">URL Shortner Application <i class="fas fa-link px-2"></i></h1>
      <div class="flex justify-center">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
            <div class="inline-flex rounded-md shadow">{{form.long_url}}</div>
            <div class="ml-3 inline-flex rounded-md shadow">
              <button class="inline-flex justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-green-600 hover:bg-green-800" type="submit">
                Shorten
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
  {% if errors %}
  <div class="alert alert-danger mt-4" role="alert">
    <p>{{errors}}</p>
  </div>
  {% endif %}

  {% if new_url %}

  <div class="mx-auto text-center mt-5">
    <h2 class="text-red-500">Your shortened Url</h2>
    <p>Click the Link below to open in a new tab</p>
    <a  class="text-blue-500 underline text-lg" href="{{new_url}}" target="_blank">{{new_url}}</a>
    <p><span class="text-danger">Previous URL:</span> {{long_url}}</p>
  </div>
  {% endif %}
</div>
{% endblock body %}